<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link ref="stylesheet" type="text/css"
	th:href="@{resources/css/style.css}">
<title>Registration</title>
</head>
<body>
	
	<form method="POST" th:action="@{/logmeout}" >
		<input type="submit" value="Logout" />
	</form>
	
	<form method="POST" th:object="${spitter}" enctype="multipart/form-data">
	<div class="error" th:if="${#fields.hasErrors('*')}">
			<ul>
				<li th:each="err:${#fields.errors('*')}" th:text="${err}">Input
					incorrect</li>
			</ul>
		</div>

		<label th:class="${#fields.hasErrors('firstName')}?'error'">First
			Name: </label> <input type="text" th:field="*{firstName}"
			th:class="${#fields.hasErrors('firstName')}?'error'"></input> <br />

		<label th:class="${#fields.hasErrors('lastName')}?'error'">Last
			Name: </label> <input type="text" th:field="*{lastName}"
			th:class="${#fields.hasErrors('lastName')}?'error'"></input> <br />

		<label th:class="${#fields.hasErrors('userName')}?'error'">User
			Name: </label> <input type="text" th:field="*{userName}"
			th:class="${#fields.hasErrors('userName')}?'error'"></input> <br />

		<label th:class="${#fields.hasErrors('password')}?'error'">Password</label>
		<input type="text" th:field="*{password}"
			th:class="${#fields.hasErrors('password')}?'error'"></input> <br />
			
		<input type="file" name=profilePicture accept="image/jpeg,image/png,image/gif"></input> <br/>
		<input type="submit" value="Register" />
	</form>
</body>
</html>